<a href="https://colab.research.google.com/github/jsebastianquiroga/DEEP_LEARNING_PUJ/blob/main/RNN_Forecast/googl_msft_aapl_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import yfinance as yf

# Define the tickers for the stocks you're interested in
tickers = ['GOOGL', 'MSFT', 'AAPL']

# Define the period for which you want data
period = '5y'  # 5 years

# Fetch the data
data = yf.download(tickers, period=period)
data

[*********************100%***********************]  3 of 3 completed

             Adj Close                               Close              \
                  AAPL       GOOGL        MSFT        AAPL       GOOGL
Date
2018-05-24   44.952579   54.272499   92.981392   47.037498   54.272499
2018-05-25   45.055313   54.203999   93.028664   47.145000   54.203999
2018-05-29   44.892849   53.403500   92.697632   46.974998   53.403500
2018-05-30   44.797276   53.873501   93.586693   46.875000   53.873501
2018-05-31   44.646763   55.000000   93.482651   46.717499   55.000000
...                ...         ...         ...         ...         ...
2023-05-17  172.690002  120.839996  314.000000  172.690002  120.839996
2023-05-18  175.050003  122.830002  318.519989  175.050003  122.830002
2023-05-19  175.160004  122.760002  318.339996  175.160004  122.760002
2023-05-22  174.199997  125.050003  321.179993  174.199997  125.050003
2023-05-23  171.559998  122.559998  315.260010  171.559998  122.559998

                              High                                 Low  \
                  MSFT        AAPL       GOOGL        MSFT        AAPL
Date
2018-05-24   98.309998   47.209999   54.355999   98.940002   46.552502
2018-05-25   98.360001   47.412498   54.478500   98.980003   46.912498
2018-05-29   98.010002   47.187500   54.067001   98.879997   46.717499
2018-05-30   98.949997   47.000000   53.949501   99.250000   46.695000
2018-05-31   98.839996   47.057499   55.500000   99.989998   46.535000
...                ...         ...         ...         ...         ...
2023-05-17  314.000000  172.929993  121.669998  314.429993  170.419998
2023-05-18  318.519989  175.240005  123.309998  319.040009  172.580002
2023-05-19  318.339996  176.389999  125.970001  318.750000  174.940002
2023-05-22  321.179993  174.710007  126.430000  322.589996  173.449997
2023-05-23  315.260010  173.379395  124.625000  322.709991  171.274994

                                          Open                          \
                 GOOGL        MSFT        AAPL       GOOGL        MSFT
Date
2018-05-24   53.615002   96.809998   47.192501   54.345001   98.730003
2018-05-25   54.130001   97.860001   47.057499   54.327499   98.300003
2018-05-29   53.153999   97.230003   46.900002   53.799999   97.839996
2018-05-30   53.327499   97.910004   46.930000   53.674000   98.309998
2018-05-31   53.900002   98.610001   46.805000   54.099998   99.290001
...                ...         ...         ...         ...         ...
2023-05-17  118.889999  310.739990  171.710007  119.610001  312.290009
2023-05-18  120.830002  313.720001  173.000000  120.949997  314.529999
2023-05-19  122.150002  316.369995  176.389999  123.550003  316.739990
2023-05-22  122.739998  318.010010  173.979996  122.940002  318.600006
2023-05-23  122.210403  315.250000  173.130005  124.160004  320.029999

               Volume
                 AAPL     GOOGL      MSFT
Date
2018-05-24   92936000  20604000  26649300
2018-05-25   69844000  22224000  18363900
2018-05-29   90056400  36076000  28671000
2018-05-30   74762000  28686000  22158500
2018-05-31  109931200  79368000  34140900
...               ...       ...       ...
2023-05-17   57951600  33323600  24315000
2023-05-18   65496700  35234200  27276000
2023-05-19   55772400  41330300  27529500
2023-05-22   43570900  35253000  24115700
2023-05-23   46405690  33993425  28142813

[1258 rows x 18 columns]